<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659717858737-3fqd9od97opv0mleu00dtqa1e6hs9k93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659717858737-3fqd9od97opv0mleu00dtqa1e6hs9k93</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>659717858737-kdhd01bndhts9qs8ac6kgmbe0s4t2htr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7YkRFbA_uhutr1k_2qcQlt8idoBAy5RA</string>
	<key>GCM_SENDER_ID</key>
	<string>659717858737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sharpresponse.quickresponse</string>
	<key>PROJECT_ID</key>
	<string>quick-response-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-response-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659717858737:ios:9eb7cc4aebb6bcad0c4990</string>
</dict>
</plist>